.navbar-custom {
  background-color: #0193d6;
  padding: 10px;
  border-bottom: 2px solid #ff5722; /* Línea de separación */
  position: relative;
}

.logo-img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.navbar-custom .nav-link {
  color: white;
  font-weight: bold;
  margin-right: 15px;
}

.navbar-custom .nav-link:hover {
  background-color: #ff5722; /* Cambio de color al pasar el mouse */
}

.logo-img {
  width: 150px;
}

.btn-light {
  background-color: #ff5722;
  border: none;
  color: white;
}

.btn-light:hover {
  background-color: #ff784e;
}
